<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />  
    <title>로그인</title> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>   
    <div class = "header--fixed">   
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div> 
    </div>

    <div class = "login__main--wrap">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <th><label for="id_username"><i class="fa-solid fa-user id_icon" style="color: #000000;"></i></label></th>
                        
                        <td>
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder = "아이디">
                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_password"><i class="fa-solid fa-lock pw_icon" style="color: #000000;"></i></label></th>
                        
                        <td>
                            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder ="비밀번호">
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if form.non_field_errors %} <!-- css 아직 안함 -->
                <div class="error-message">
                    {% for error in form.non_field_errors %}
                        <p>아이디 또는 비밀번호가 잘못되었습니다.<br>
                        아이디와 비밀번호를 정확히 입력해주세요.</p>
                    {% endfor %}
                </div>
            {% endif %}
            <input type="submit" class="btn-3d" value="로그인">
            <p class = "signup_assist"> 아직 회원이 아니신가요? <a href="/accounts/signup/" class="signup-btn">회원가입</a> <p>
        </form>
    </div>
</body>
</html>





