<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />  
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'css/bass.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'btn.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <!-- 헤더 부분 -->
    <div class="header-sub">      
        <a class="back-button" href="{% url 'index' %}" ><i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"> </i></a>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
    </div>
    <!-- end 헤더 부분 -->

    {% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <input type="submit" class="btn-3d blue" value="로그인">
        <form action="{% url 'signup' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-3d blue">회원가입</button>
        </form>
    </form>
    {% endblock %}
</body>
</html>