<!doctype html>
{% load static %}
<html>
<head>
    <title>로그인</title>
    <meta charset="utf-8">    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'btn.css' %}">
</head>
<body>
    
    <div class = "header--fixed">
       
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
     
    </div>


    <div class = "login__main--wrap">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <th><label for="id_username"><img src = "../../../static/icons/id_icon.png" class = "id_img"></label></th>
                        
                        <td>
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder = "아이디">
                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_password"><img src = "../../../static/icons/pw_icon.png"  class = "pw_img"></label></th>
                        
                        <td>
                            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder ="비밀번호">
                        </td>
                    </tr>
                </tbody>
            </table>

            {% if form.non_field_errors %} <!-- css 아직 안함 -->
                <div class="error-message">
                    {% for error in form.non_field_errors %}
                        <p>아이디 또는 비밀번호가 잘못되었습니다.<br>
                        아이디와 비밀번호를 정확히 입력해주세요.</p>
                    {% endfor %}
                </div>
            {% endif %}

            <input type="submit" class="btn-3d" value="로그인">
            <a href="/accounts/signup/" class="signup-btn">회원가입</a>
        </form>
    </div>
</body>
</html>





