/* 기본 설정 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* 컨테이너 */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.logo {
    height: 40px;
    cursor: pointer;
}

/* 본문 */
main {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facility-guide {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.facility-guide img {
    width: 40%;
    height: auto;
    margin-right: 20px;
}

.facility-guide .info {
    flex: 1;
}

.facility-guide .info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.facility-guide .more-info {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* 컨텐츠 레이아웃 */
.info {
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .facility-guide {
        flex-direction: column;
    }

    .facility-guide img {
        width: 100%;
        margin-bottom: 20px;
    }

    .facility-guide .info {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}

.home-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #555;
}