/* 메뉴바 css (대부분 파일에 적용)*/
.app__size {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 667px;
    width: 375px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

/** 헤더 부분 **/
.header--fixed {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
}

.header__button--menu {
    width: 40px;
    height: 44px;
    background-image: url("../icons/menu_icon.png");
    margin: 10px;
}

.for_loc_center {
    width: 30px;
    height: 42px;
    margin: 10px;
}

.header__title--wrap {
    width: 100%;
    height: 100%;
    text-align: center;
}

.header__title{
    display: inline-block;
    width: 95px;
    height: 32px;    
    background-image: url("../icons/AIVEX_icon_white.png");
    margin-top: 17px;
}

/** 헤더 부분  끝 **/

.body--wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/** 본문 포스터 부분 **/

.swiper--container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.blurred--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
    transition: opacity 0.5s ease-in-out; 
}

.black--layered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 투명한 검정색 막 */
    z-index: 0;
}

.swiper--wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 1;
}

.promotion__contents {
    text-align: center;
}

.exhibit__content {
    margin-top: 50px;
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: relative;
}

.exhibit__poster {
    margin: 0 auto;
    cursor: pointer;
}

.poster__image {
    width: 230px;
    height: auto;
    margin: 0 auto;
}

.exhibit__about {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.exhibit__title {
    font-weight: bold;
    color: white;
    font-size: 18px
}

.exhibit__date {
    color: white;
    font-size: 13px;
}

/** 본문 포스터 부분 끝 **/


/** 본문 메뉴 부분 **/
.main__menu--icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.main__menu--item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent !important;
    cursor: pointer;
}

.main__menu--item span {
    display: block;
    position: absolute;
    margin-top: 73px;
    font-weight: bold;
    font-size: 12px;
}

#btn1 {
    background-image: url('../icons/exhibit_list_icon.png');
}

#btn2 {
    background-image: url('../icons/notice_icon.png');
}

#btn3 {
    background-image: url('../icons/about_icon.png');
}

#btn4 {
    background-image: url('../icons/layout_make_icon.png');
}


/** 챗봇 부분 **/

.chatbot--wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px; 
    z-index: 1000; 
}

.chatbot__icon {
    background-image: url("../icons/chatbot_icon.png");
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.1s, background-image 0.3s;
}

.chatbot__icon:active {
    transform: scale(0.95);
}

.chatbot__window {
    display: none; 
    position: fixed;
    right: 20px;
    bottom: 80px; 
    width: 320px;
    height: 515px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#chatbot__title {
    display: flex;
    align-items: center;
}

.chatbot__header__profile {
    background-image: url("../icons/AIVEX_icon_black.png");
    border-radius: 50%;
    background-color: #dadee0;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
}

#chatbot__body {
    height: 300px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 5px;
    scrollbar-width: thin;
}

#chatbot__body::-webkit-scrollbar {
    display: block;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-height: 50px;
    overflow-y: auto;
    scrollbar-width: thin;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.option-button {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.option-button:hover {
    background-color: #e0e0e0;
}

#chatbot--footer {
    /* border-top: 1px solid #ccc; */
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chatbot__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    border-radius: 15px; 
    outline: none;
    width: 300px;
    background-color: #f0f0f0; 
    z-index: 200;
    margin-top: 10px;
    max-height: 50px;
}

#message--input {
    flex: 1;
    overflow-y: auto;
    max-height: 180px;
    background-color: transparent;
    border: none;
    border-radius: 10px; 
    outline: none;
    padding: 5px;
    resize: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 80%;
}

#message--input::placeholder {
    font-size: 16px;
}

#send-button {
    width: 30px;
    height: 30px;
    background-image: url("../icons/send_icon.png");
    border-radius: 40%;
    padding: 2px;
    margin-right: 5px;
    cursor: pointer;
}

.message {
    display: flex;
    position: relative;
    margin: 10px 0;
    font-size: 15px;
    clear: both; 
    margin-bottom: 10px;
}

.bot-message {
    float: left; 
}

.bot-message .bot-profile {
    background-image: url("../icons/AIVEX_icon_black.png");
    border-radius: 50%;
    background-color: #dadee0;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    position: absolute; 
    left: 0;
    bottom: 0;
    margin-left: 10px;
}

.bot-message .message-content {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-left: 47px;
    margin-right: 50px;
    display: inline-block;
}

.user-message {
    float: right; 
}

.user-message .message-content {
    background-color: #01D1D5;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
}

.user-message .timestamp {
    position: absolute;
    bottom: 0;
    left: 14px; 
    font-size: 12px;
    color: gray;
}

.bot-message .timestamp {
    position: absolute;
    bottom: 0;
    right: 14px;
    font-size: 12px;
    color: gray;
}


/* 뒤로가기 헤더 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.header-sub {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding:10px 0px 20px 0px;
}

.back-button {
    position: absolute;
    margin-left:10px;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
}