/* 메뉴바 css (대부분 파일에 적용)*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}


.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent !important; 
}

.app__size {
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
/** 헤더 부분 **/
.header--fixed {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
}

.header__button--menu {
    width: 40px;
    height: 44px;
    background-image: url("/static/icons/menu_icon.png");
    margin: 10px;
}

.header__button--menu-black {
    width: 40px;
    height: 44px;
    background-image: url("/static/icons/menu_icon_black.png");
    margin: 10px;
    margin-top: 17px;
}

.for_loc_center {
    width: 30px;
    height: 42px;
    margin: 10px;
}

.header__title--wrap {
    width: 100%;
    height: 100%;
    text-align: center;
}

.header__title{
    display: inline-block;
    width: 95px;
    height: 32px;    
    background-image: url("../icons/AIVEX_icon_white.png");
    margin-top: 17px;
}

.header__title-black{
    display: inline-block;
    width: 95px;
    height: 32px;    
    background-image: url("../icons/AIVEX_icon_black.png");
    margin-top: 17px;
}

/** 헤더 부분  끝 **/

.body--wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/** 본문 포스터 부분 **/

.swiper--container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.blurred--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
    transition: opacity 0.5s ease-in-out; 
}

.black--layered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 투명한 검정색 막 */
    z-index: 0;
}

.swiper--wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 1;
}

.promotion__contents {
    text-align: center;
}

.exhibit__content {
    margin-top: 50px;
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: relative;
}

.exhibit__poster {
    margin: 0 auto;
    cursor: pointer;
}

.poster__image {
    width: 230px;
    height: auto;
    margin: 0 auto;
}

.exhibit__about {
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.exhibit__title {
    font-weight: bold;
    color: white;
    font-size: 18px
}

.exhibit__date {
    color: white;
    font-size: 13px;
}

/** 본문 포스터 부분 끝 **/


/** 본문 메뉴 부분 **/
.main__menu--wrap {
    margin-left: 5px;
    margin-right: 5px;
}

.main__menu--icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.main__menu--item {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent !important;
    cursor: pointer;
}

.main__menu--item span {
    display: block;
    position: absolute;
    margin-top: 73px;
    font-weight: bold;
    font-size: 13px;
}

#btn1 {
    background-image: url('../icons/list_icon.png');
}

#btn2 {
    background-image: url('../icons/notice_icon.png');
}

#btn3 {
    background-image: url('../icons/info_icon.png');
}

#btn4 {
    background-image: url('../icons/faq_icon.png');
}
#btn5 {
    background-image: url('../icons/pen_icon.png');
}



/** 챗봇 부분 **/

.chatbot--wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px; 
    z-index: 1000; 
}

.chatbot__icon {
    background-image: url("../icons/chatbot_icon.png");
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.1s, background-image 0.3s;
}

.chatbot__icon:active {
    transform: scale(0.95);
}

.chatbot__window {
    display: none; 
    position: fixed;
    right: 20px;
    bottom: 80px; 
    width: 90%;
    max-width: 430px;
    height: 78%;
    max-height:800px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#chatbot__title {
    display: flex;
    align-items: center;
}

#chatbot__title h4 {
    margin: 0;
    font-size: 21px;
}

.chatbot__header__profile {
    background-image: url("../icons/AIVEX_icon_black.png");
    border-radius: 50%;
    background-color: #dadee0;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
}

#chatbot__body {
    height: calc(100% - 135px);
    width: 100%;
    overflow-y: auto;
    padding: 0px;
    margin-bottom: 5px;
    position: relative;
}

/* #chatbot__body::-webkit-scrollbar {
    display: block;
} */

#options-container {
    right: 10px;
    width: 253px;
    margin-right: 10px;
    bottom: 0;
    position: absolute;
}

.options {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
}

.option-button {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.option-button:hover {
    background-color: #01D1D5;
    border-color: #01D1D5;
    transform: scale(0.95);
}

#chatbot--footer {
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 90%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chatbot__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
    border-radius: 15px; 
    outline: none;
    width: 97%;
    background-color: #f0f0f0; 
    z-index: 200;
    margin-bottom: 10px;
    margin-top: 7px;
    height: 44px;
}

#message--input {
    flex: 1;
    overflow-y: auto;
    max-height: 180px;
    background-color: transparent;
    border: none;
    border-radius: 10px; 
    outline: none;
    resize: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 80%;
    height: 30px;
    padding: 0;
}

#message--input::placeholder {
    font-size: 16px;
    line-height: 30px;
}

#send-button {
    width: 30px;
    height: 30px;
    background-image: url("../icons/send_icon.png");
    border-radius: 40%;
    padding: 2px;
    margin-right: 5px;
    cursor: pointer;
}

.message {
    display: flex;
    position: relative;
    margin: 10px 0;
    font-size: 15px;
    clear: both; 
    margin-bottom: 10px;
}

.bot-message .bot-profile {
    background-image: url("../icons/AIVEX_icon_black.png");
    border-radius: 50%;
    background-color: #dadee0;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    position: absolute; 
    left: 0;
    bottom: 0;
    margin-left: 10px;
}

.bot-message .message-content {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-left: 47px;
    margin-right: 50px;
    display: inline-block;
}

.user-message  {
    padding: 0px;
    border-radius: 10px;
    float: right;
    position: relative;
    bottom: 0; /* bot-message 아래에 위치하도록 설정 */
    margin-bottom: 20px;
}

.user-message .message-content {
    background-color: #01D1D5;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 10px;
    box-sizing: border-box;
}

.user-message .timestamp {
    position: absolute;
    bottom: 0;
    left: 14px; 
    font-size: 12px;
    color: gray;
}

.bot-message .timestamp {
    position: absolute;
    bottom: 0;
    right: 14px;
    font-size: 12px;
    color: gray;
}



/* 뒤로가기 헤더 */

.header-sub {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.back-button {
    position: absolute;
    margin-left:10px;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
}


.header-pc{
    display: none;
}

/* 미디어쿼리 */

/* 태블릿 */
@media (min-width: 768px){
    .swiper--container {
        height: 500px;
    }

    .poster__image {
        width: 250px;
        height: auto;
        margin: 0 auto;
    }

    .main__menu--item {
        width: 45px;
        height: 45px;
    }

    .main__menu--item span {
        font-size: 15px;
        margin-top: 80px;
    }
}



/* pc 화면 */
@media (min-width: 992px) {
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }

    .background-pc{
        position: absolute;
        top: 0;
        z-index: -1000;
        width: 100%;
        height: 210px;
        display: block;
        background-color: #38B8B2;
    }

    .background-pc-list{
        position: absolute;
        top: 0;
        z-index: -1000;
        width: 100%;
        height: 175px;
        display: block;
        background-color: #38B8B2;
    }

    .background-pc-bottom{
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: -1001;
        display: block;
        background-color: #eeeeee;
    }

    .mob{
        display: none;
    }

    .header-pc {
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 70%;
        height: 48px;
        margin-top: 15px;
        background-color: #ffffff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    .header__title--wrap{
        width: 100px;
        height: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-top: 5px;
    }

    .header__title-black{
        width: 75px;
        height: 23px; 
        margin: 0;
    }

    /* 헤더 메뉴바 */
    .header-menu-pc{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn.btn-secondary.dropdown-toggle{
        background-color: transparent !important;
        color: #333;
        border: none;
        outline: none;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu{
        border: none;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        position: absolute;
    }
    
    .dropdown:hover .btn-secondary {
        color:#38B8B2;
    }

    .dropdown .btn-secondary:focus {
        outline: none;
        box-shadow: none;
        color: #38B8B2
    }

    .header-menu-login{
        display: flex;
        flex-direction: row;
        margin: 0px 8px;
        margin-left: auto;
        align-items: center;
    }
    
    .logout-form-pc{
        margin-left: 5px;
    }

    .user-name-pc{
        margin: 0;
        font-weight: 600;
        font-size: 17px;

        /* 닉네임이 너무 길면 ...으로 생략 */
        max-width: 100px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .logout-button-pc{
        border: none;
        background-color: transparent;
        font-size: 14px;
        color: #8e8d8d;
        font-weight: 300;
    }

    .logout-button-pc:hover{
        color: #38B8B2;
    }
    
    .sidebar__login--btn-pc{
        margin: 0;
        padding: 0px 5px;
        font-weight: 600;
        font-size: 17px;
        color: #38B8B2;
    }

    .sidebar__login--btn-pc:hover{
        color: #30a59f;
    }
}

