::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#booth_list {
    margin-top: 80px;
    width: 100%;
}

.booth-list--title{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#boothList, #booth_detail--wrap {
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-top: 20px;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0;
}

#boothList{
    margin-top: 15px;
}

.booth-item {
    border-bottom:1px solid gray;
    padding:15px 0px;
}

.booth-item.first-item{
    border-top:2px solid gray;
}

.booth{
    width: 93%;
    margin: 0 auto;
}

.booth-name {
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

.booth-edit{
    margin-top: 10px;
    font-weight: 500;
}

.booth-edit-link {
    text-decoration: none;
    color: #333;
}

.booth-edit-link:hover {
    color: #38B8B2; 
}

/* 부스디테일 */
#booth_detail {
    width: 93%;
    padding: 0;
    margin-top: 80px;
}

#booth_detail--wrap{
    margin-top: 10px;
}

#booth_detail--wrap p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.booth_info_title{
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
    margin-bottom: 15px;
}

#booth_detail--btn{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

#loc__right a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 28px;
    border: 1px solid #333;
    border-radius: 4px;
    transition: transform 0.32 ease;
    height: 39px;
}

#loc__right a:hover {
    background-color: #38B8B2;
    border-color: #38B8B2;
    color: white;
    transform: scale(0.95);
}

.back--btn{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 17px;
    padding: 8px 0px;
    border: none;
    height: 39px;
}

.back--btn:hover{
    color: #38B8B2;
}

#booth_detail input[type="submit"] {
    padding: 8px 12px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    height: 39px;
    transition: transform 0.3s ease;
}

#booth_detail input[type="submit"]:hover {
    background-color: #ff3333;
    transform: scale(0.95);
}

#loc__right{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}



/* 부스 정보 수정 */
#booth_edit--wrap{
    width: 93%;
    padding: 0;
    margin-top: 80px;
}

#booth_edit--content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 2px solid #333;
}

#booth_edit--content div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
}

#booth_edit--content label {
    font-weight: bold;
    font-size: 15px;
}

#booth_edit--content input[type="text"],
#booth_edit--content textarea{
    box-sizing: border-box;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    transition: border-color 0.3s ease;
    height: 35px; 
}

#booth_edit--content textarea{
    resize: none;
}

.background textarea,
.service textarea {
    min-height: 50px; /* 초기 최소 높이 */
    max-height: 90px; /* 최대 높이 설정 */
}

#booth_edit--content input[type="text"]:focus,
#booth_edit--content textarea:focus {
    border-bottom: 1px solid #38B8B2;
}

#booth_edit--content input[type="submit"],
#booth_edit--content button[type="submit"] {
    margin-top: 40px;
    display: block;
    padding: 10px;
    background-color: #38B8B2;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease;
    width: 100%;
}

#booth_edit--content input[type="submit"]:hover,
#booth_edit--content button[type="submit"]:hover{
    background-color:#33999bcd;
    transform: scale(0.95);
}




@media (min-width: 768px){
    #booth_list, #booth_detail, #booth_edit--wrap{
        width: 75%;
    }
}


@media (min-width: 992px) {

    body{
        background-color: #eee;
    }

    #booth_list, #booth_detail, #booth_edit--wrap{
        width: 70%;
        margin-top: 110px;
    }


    .booth-list--title{
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        color: #fff;
        font-size: 27px;
        font-weight: 700;
    }

    .booth_info_title, .booth_edit--title{
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 30px;
        border-bottom: none;
    }

    .boothList--wrap{
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        align-items: center;
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }

    #boothList{
        width: 90%;
    }

    .booth-item.first-item{
        border-top: none;
    }

    #booth_detail--content{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 30px;
    }

    #booth_detail--wrap, #booth_edit--content{
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        margin: 0;
    }

    #booth_detail--wrap p {
        font-size: 18px;
        margin-bottom: 18px;
    }

    #booth_detail--wrap p strong{
        font-size: 19px;
    }

    #booth_detail--btn{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .back--btn{
        display: inline-block;
        font-size: 18px;
        height: 39px;
    }

    #loc__right a {
        font-size: 17px;
        height: 42px;
    }

    #booth_detail input[type="submit"] {
        font-size: 17px;
        height: 42px;
    }

    /* 부스 정보 수정 */
    .booth_edit--form{
        width: 450px;
        margin: 0 auto;
        padding: 15px 0;
    }

    #booth_edit--content{
        border-top: none;
        padding: 30px 0px;
    }

    #booth_edit--content div {
        flex-direction: row;
        margin-bottom: 25px;
        align-items: center;
    }

    #booth_edit--content label{
        width: 52px;
    }

    #booth_edit--content input[type="text"],
    #booth_edit--content textarea{
        box-sizing: border-box;
        padding: 5px 17px;
        border: none;
        outline: none;
        font-size: 16px;
        height: 35px; 
        background-color: #f5f5f5;
        margin-left: 15px;
        width: calc((100% - 70px));
    }

    #booth_edit--content input[type="text"]:focus,
    #booth_edit--content textarea:focus{
        border-bottom: none;
    }

    .background textarea,
    .service textarea {
        min-height: 50px; /* 초기 최소 높이 */
        max-height: 100px; /* 최대 높이 설정 */
    }

    #booth_edit--content input[type="submit"],
    #booth_edit--content button[type="submit"] {
        margin: 0 auto;
        margin-top: 40px;
        display: block;
        padding: 5px 10px;
        background-color: #38B8B2;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 17px;
        font-weight: 500;
        transition: transform 0.3s ease;
        width: 100px;
    }

  
}