.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 모든 요소를 왼쪽 정렬 */
  }

  .exhibitions {
    width: 95%; /* 전시회 영역 전체 너비 */
    margin-top: 35px;
  }

  .exhibition-card {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Apply blur effect only to the background image */
    z-index: -1; /* Push behind content */
    opacity: 0.6;
    border-radius: 5px;
  }

  .exhibition-details {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 1;
    border-radius: 0 0 5px 5px;
  }

  .exhibition-details h3 {
    margin: 0;
    font-size: 1.2rem; /* Adjust as needed */
  }

  .exhibition-details p {
    margin: 5px 0;
  }

  .header-sub {
    position: relative;
    z-index: 1001; /* 헤더가 다른 요소들보다 위에 표시되도록 */
  }

  .toggle-calendar-button {
    margin-left: auto;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }

  .calendar-container {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 고정 위치 */
    top: 12%; /* 상단 여백 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* 다른 요소들보다 위에 표시 */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%; /* 달력 컨테이너 너비 */
    height: 80%; /* 달력 컨테이너 높이 */
  }

  #calendar {
    width: 100%;
    height: 100%;
  }

  .fc-day-today {
    /* 현 날짜 색변화 표시 */
    background-color: rgba(252, 247, 182, 1);
  }


  @media (min-width: 992px) {
    .exhibitions{
        width: 70%;
    }
  }