#exh-section {
  margin-top: 100px;
  width: 100%;
}

.exh_title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.exhibition-card {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.toggle-calendar-button {
  margin-left: auto;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Apply blur effect only to the background image */
  z-index: -1; /* Push behind content */
  opacity: 0.6;
  border-radius: 5px;
}

.exhibition-details {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

.exhibition-details h3 {
  margin: 0;
  font-size: 1.2rem; /* Adjust as needed */
}

.exhibition-details p {
  margin: 5px 0;
}

/* Calendar header styles */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.calendar-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.calendar-container {
  display: none;
  /* Other styles as needed */
}

#calendar {
  width: 100%;
  height: 100%;
}
.fc-day-today {
  /* 현 날짜 색변화 표시 */
  background-color: rgba(252, 247, 182, 1);
}

@media (min-width: 768px){
  #exh-section {
      width:75%;
  }

  .exh_title {
      margin: 0;
      padding: 0;
  }

  .search-section {
      width: 100%;
  }
  
}

@media (min-width: 992px) { 
  #exh-section {
      width: 70%;
      margin-top: 110px;
  }

  .exh_title {
      color: #fff;
      font-size: 27px;
      font-weight: 700;
      margin: 0;
      padding: 0;
  }
  
  .search-section {
      width: 100%;
      margin-top: 40px;
  }
} 