::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notice--wrap {
    width: 100%;
    margin-top: 100px;
    align-items: center;
}

.notice_title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.content-wrap {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden; 
    scrollbar-width: thin;
    margin-top: 20px;
}

.notice-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.notice-item {
    border-bottom: 1px solid gray;
    transition: transform 0.2s ease;
}

.notice-item.first-item {
    border-top: 2px solid gray; 
  }

.notice-item a {
    text-decoration: none;
}

.notice-item h2 {
    color: #333;
    font-size: 17px;
    margin-bottom: 2px;
}

.notice-item:hover {
    background: rgb(33, 154, 155, 0.3);
    transform: scale(1.02); 
}

.notice-card {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
}

.notice-card-text {
    flex-direction: column;
    margin-right: 10px; 
}

.icon-right {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    color: #030303;
}

.notice-card p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.write-btn {
    color: #333;
    width: 60px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    float: right; 
    transition: transform 0.2s ease;
}

.write-btn:hover {
    color: #339a9b;
    transform: scale(1.02); 
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-bottom: 55px;
}

/* 공지글 자세히 */
.notice-detail-card {
    padding: 17px;
    width: 100%;
    border-top: 3px solid #333;
    border-bottom: 1px solid #333;
}

.notice-header {
    justify-content: center;
}

.notice-header h1{
    margin-bottom: 25px;
}

.notice-meta {
    display: flex;
    justify-content: space-between;
}

.notice-meta p {
    color: #868686;
    margin: 0;
}

.notice-actions {
    float: right;
    align-items: center;
    margin-top: 5px;
    margin-right: 14px;
}

.notice-actions a{
    padding: 6px 4px;
    text-decoration: none;
    color: #333;
}

.notice-actions a:hover{
    border: none;
    outline: none;
    color: #339a9b;
    text-decoration: none;
}

.notice-content{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.notice-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_to_list {
    text-decoration: none;
    border: 1px solid #333;
    padding: 7px 10px;
    color: #333;
    transition: transform 0.3s ease;
}

.back_to_list:hover {
    border-color: #339a9b;
    color: #339a9b;
    transform: scale(1.2);
}

@media (min-width: 992px) {
    .notice--wrap {
        width: 80%;
    }

    .notice_title {
        width: 100%;
    }

    .notice-item h2 {
        font-size: 20px;
    }

    .notice-card {
        padding: 19px;
    }

    .notice-card p {
        font-size: 16px;
    }

    .write-btn {
        width: 80px;
        font-size: 18px;
    }

    .notice-content p{
        font-size: 19px;
    }

    .notice-meta p {
        font-size: 17px;
    }

    .back_to_list {
        font-size: 18px;
        padding: 8px 12px;    
    }
}
