::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notice--wrap {
    width: 100%;
    margin-top: 90px;
    align-items: center;
}

.notice_title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.content-wrap {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    overflow-x: hidden;
}

.notice-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.notice-item {
    border-bottom: 1px solid gray;
    transition: transform 0.2s ease;
}

.notice-item.first-item {
    border-top: 2px solid gray; 
}

.notice-item a {
    text-decoration: none;
}

.notice-item h2 {
    color: #333;
    font-size: 17px;
    margin-bottom: 2px;
}

.notice-item:hover {
    background: rgb(33, 154, 155, 0.3);
    transform: scale(1.02); 
}

.notice-card {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
}

.notice-card-text {
    flex-direction: column;
    margin-right: 10px; 
}

.icon-right {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    color: #030303;
}

.notice-card p {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.write-btn {
    color: #333;
    width: 60px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    float: right; 
    transition: transform 0.2s ease;
}

.write-btn:hover {
    color: #339a9b;
    transform: scale(1.02); 
}


/* 공지글 자세히 */
.notice-detail-card {
    padding: 17px;
    width: 100%;
    border-top: 3px solid #333;
    border-bottom: 1px solid #333;
}

.notice-header {
    justify-content: center;
}

.notice-header h1{
    margin-bottom: 25px;
}

.notice-meta {
    display: flex;
    justify-content: space-between;
}

.notice-meta p {
    color: #868686;
    margin: 0;
}

.notice-actions {
    float: right;
    align-items: center;
    margin-top: 5px;
    margin-right: 14px;
}

.notice-actions a{
    padding: 6px 4px;
    text-decoration: none;
    color: #333;
}

.notice-actions a:hover{
    border: none;
    outline: none;
    color: #339a9b;
    text-decoration: none;
}

.notice-content{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 40px;
}
.upload_files {
    padding: 10px;
    font-size: 14px;
}

.notice-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_to_list {
    text-decoration: none;
    border: 1px solid #333;
    padding: 7px 10px;
    color: #333;
    transition: transform 0.3s ease;
}

.back_to_list:hover {
    border-color: #339a9b;
    color: #339a9b;
    transform: scale(1.2);
}


/* 공지 작성 */
.notice-write--wrap {
    width: 95%;
    margin-top: 80px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: hidden; 
}

.notice-write-container {
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

.notice_write_title--wrap {
    justify-content: center;
    margin-bottom: 10px;
}

.notice_write_title {
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 8px;
    border-bottom: 1px solid #afafaf;
}

::placeholder {
    color:#afafaf;
}

.notice_write_content--wrap {
    width: 100%;
    height: calc(85vh - 260px);
    margin-bottom: 10px;
}

.notice_write_content {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 8px;
    resize: none;
}

.notice_write_submit--wrap.pc {
    display: none;
}

.notice_write_submit--wrap{
    width: 100%;
}

.notice_write_submit--wrap input {
    width: 100%;
    background-color: #339a9b;
    color: white;
    border: none;
    font-size: 18px;
    padding: 8px 0px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.notice_write_submit--wrap input:hover {
    transform: scale(0.95);
    background-color: #33999bcd;
}




@media (min-width: 992px) {
    .notice--wrap {
        width: 70%;
        margin-top: 110px;
    }

    .notice-write--wrap {
        width: 70%;
    }

    .notice_title {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 27px;
        font-weight: 700;
    }

    .content-wrap{
        align-items: center;
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 35px;
    }

    .notice-item.first-item {
        border-top: none; 
    }

    .notice-item h2 {
        font-size: 20px;
    }

    .notice-card {
        padding: 19px;
    }

    .notice-card p {
        font-size: 16px;
    }

    .write-btn {
        font-size: 18px;
        font-weight: 500;
        width: 80px;
        color: white;
    }

    .write-btn:hover{
        color: #333;
    }

    .notice-content p{
        font-size: 19px;
    }

    .notice-meta p {
        font-size: 17px;
    }

    .back_to_list {
        font-size: 18px;
        padding: 8px 12px;    
    }

    .notice_write_title {
        font-size: 28px;
    }

    .notice_write_content{
        font-size: 19px;
    }

    .notice--wrap-pc{
        padding: 15px;
        width: 93%;
        margin: 0 auto;
        box-shadow: 
            -5px 0 5px -5px rgba(0, 0, 0, 0.2), 
            5px 0 5px -5px rgba(0, 0, 0, 0.2); 
    }

    .notice_write_submit--wrap.mobile{
        display: none;
    }

    .notice_write_submit--wrap.pc {
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #333;
    }

    .notice_write_submit--wrap input{
        width: 70px;
        padding-top: 55px;
        padding-bottom: 3px;
        margin-right: 3px;
        background-color: white;
        color: black;
        font-size: 18px;
    }

    .notice_write_submit--wrap input:hover{
        background-color: white;
        color: #339a9b;
    }
}
