body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.app__size {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header--fixed {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    background-color: #333;
    padding-bottom: 10px;
}

.header__button--menu,
.header__title,
.for_loc_center {
    filter: brightness(0) invert(1);
}

.header__title--wrap {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.body--wrap {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.content-wrap {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-top: 10px;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

.time-slots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-size: 18px;
}

.time-slot-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 10px);
    padding: 10px;
    border: 1px solid #3b5998;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
}

.time-slot {
    width: 100%;
    text-align: center;
}

.time-slot-label:hover {
    background-color: #e0e0e0;
}

.time-slot-label .selected {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button,
.delete-button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.submit-button {
    background: #66cc66;
    color: white;
}

.submit-button:hover {
    background: #55aa55;
}

.delete-button {
    background-color: #ff6666;
    color: white;
}

.delete-button:hover {
    background-color: #cc5555;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    display: none;
}

.sidebar__menu--wrap {
    padding: 15px;
}

.sidebar__menu--list--wrap {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__menu--list {
    margin-bottom: 10px;
}

.sidebar__menu--item {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.sidebar__menu--item:hover {
    background-color: white;
}

.logout-form {
    margin-top: 20px;
}

.logout-button {
    font-size: 16px;
    padding: 10px;
    background-color: #ff6666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.logout-button:hover {
    background-color: #cc5555;
}

@media (max-width: 768px) {
    .content-wrap {
        padding: 15px;
        width: calc(100% - 30px);
    }

    .title {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .form-group input[type="text"],
    .form-group textarea {
        padding: 6px;
    }

    .submit-button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .content-wrap {
        padding: 10px;
        width: calc(100% - 20px);
    }

    .title {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .form-group label {
        font-size: 0.9em;
    }

    .form-group input[type="text"],
    .form-group textarea {
        padding: 4px;
        font-size: 0.9em;
    }

    .submit-button {
        padding: 6px;
        font-size: 0.9em;
    }
}
