body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}
.header {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:10px 0px 20px 0px;
    background-color: rgb(151, 151, 151);
}
.back-button {
    position: absolute;
    margin-left:10px;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
}
.title {
    position: relative;
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
}
.container {
    text-align: center;

}

.exhibition_icon {
    background-image: url("../icons/home_icon.png");
    width: 300px;
    height: 300px;

    border-radius: 40%;
    padding: 2px;
    margin-right: 5px;
    cursor: pointer;
}
#reserve_btn{
    padding:5px;
}
