.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent !important; 
}
.sidebar__backdrop, .sidebar--wrap {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar__backdrop.visible, .sidebar--wrap.visible {
    display: block;
    opacity: 1;
}

.sidebar__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1010;
}

.sidebar--wrap {
    position: fixed;
    top: 0;
    left: 0; 
    width: 260px; 
    height: 100%;
    background: white;
    z-index: 1020;
    transform: translate3d(-100%, 0, 0);
    backface-visibility: hidden;
}

.sidebar--wrap.slide-in {
    transform: translate3d(0, 0, 0);
    overflow:hidden;
}


.sidebar__header {
    border-bottom: 1px solid #ededed;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.sidebar__header__menu--wrap {
    padding:7px 10px 0;
}

.sidebar__menu--home {
    background-image: url("../icons/home_icon.png");
    width: 27px;
    height: 27px;
    margin: 10px;
    cursor: pointer;
}

.sidebar__header__login--wrap {
    display: flex;
    align-items: center;
    position: relative;
    padding: 28px 20px 28px;
}

.sidebar__login__profile {
    background-image: url("../icons/profile_icon.png");
    position: relative;
    width: 68px;
    height: 68px;
    float: left;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
}

.sidebar__login__info {
    margin-top: 5px;
}

.sidebar__login__user--wrap {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.sidebar__login--btn {
    font-size: 17px;
    color: black;
    font-weight: bold;
    margin: 0;
}

.sidebar__login__user--wrap:hover .sidebar__login--btn {
    color: gray;
}


.user-name {
    margin: 0;
    font-size: 18px;  
    font-weight: 600;
    /* 닉네임이 너무 길면 ...으로 생략 */
    max-width: 140px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.user-type {
    font-size: 14px;  
    font-weight: 300;
    color: #989898;     
    display: block;  
    margin: 0; 
}

.logout-form {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #fafafa;
    border-top: 1px solid #ededed;
}

.logout-button {
    background: none;
    border: none;
    color: #989898;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
}

/** 사이드바 수정 **/

.sidebar__menu--wrap {
    margin-top: 20px;

}

.accordion-header {
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 10px;
}

.accordion-button {
    font-size: 17px;
    border: none;
    transition: background-color 0.3s ease;
    padding: 13px 19px 13px 19px;
}

.accordion-button.for_sidebar {
    border-radius: 20px !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button.for_sidebar:not(.collapsed) {
    background-color: rgb(1, 209, 213, 0.3);
    color: #339a9b;
    box-shadow: none;
    border-radius: 20px !important;
}

.accordion-button::after {
    display: none;
}

.accordion-item {
    border-bottom: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.no-login-info {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #a1a1a1;
    width: 60%;
}

.sidebar__menu--list--wrap {
    list-style-type: none;
    padding-left: 0;
}

.sidebar__menu--list {
    padding: 5px;
    padding-left: 20px;
}

.sidebar__menu--item {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sidebar__menu--item:hover {
    color:#339a9b;
}



/* 미디어 쿼리 */
@media (min-width: 576px) { 
    
    .sidebar--wrap {
        width: 320px;
    }
}


/* 북마크 모달 */
.BMmodal {
    display: none;
    position: fixed;
    z-index: 1030;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.BMmodal-content {
    background-color: #fefefe;
    margin:auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto:
    min-height: 450px;
    min-width: 300px;
    max-width: 650px;
}
.BMclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width:20px;
}
.BMclose:hover,
.BMclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
li::marker {
    content: none; /* 마커 콘텐츠 제거 */
}
.created_lay {
    display: none;
}
.created_lay.block {
    display: block;
}
