body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

/* 헤더 부분 */
.header-sub {
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.back-button {
    position: absolute;
    margin-left:10px;
    margin-top: 14px;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 10px;
}

.header__title-black {
    display: inline-block;
    width: 95px;
    height: 32px;    
    background-image: url("../icons/AIVEX_icon_black.png");
    margin-top: 17px;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: transparent !important; 
    padding: 0;
}

/* end 헤더 부분 */

/* .signup_content--wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
} */

/* 개인정보 동의 창 */
.popup {
    display: flex; 
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    align-items: center;
    z-index: 1000;
    justify-content: center;
}

.popup-content {
    background: white;
    padding: 10px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 450px;
    width: 70%;
    height: 80%;
    text-align: center;
    justify-content: center;
    position: relative;
}

.checkbox-group {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: flex-start; 
    font-size: 16px; 
}

.agreement-text {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 20px;
}

.agreement-text table {
    width: 100%;
    border-collapse: collapse;
}

.agreement-text th, .agreement-text td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.agreement-text th {
    background-color: #f4f4f4;
}

.popup-content button {
    margin-top: 20px;
    padding: 8px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.popup-content button a{
    text-decoration: none;
    color: #333;
}

.info_collect_bt--wrap{
    display: flex; /* Flexbox를 사용하여 레이아웃을 설정 */
    justify-content: space-between;
}

#close_button:hover{
    background-color: #858585;
    border-color: #858585;
    transform: scale(0.98);
}

#close_button:hover a{
    color: white;
}

#agree-button{
    border: 1px solid #38B8B2;
    background-color: #38B8B2;
}

#agree-button:disabled {
    border-color: #ccc;
    background-color: #ccc;
    cursor: not-allowed;
}

#agree-button:hover{
    transform: scale(0.98);
}

.checkbox-group input[type="checkbox"] {
    width: 15px; 
    height: 15px; 
}

/* end 개인정보동의 창 */



form {
    background-color: #fff;
    padding: 30px;
    width: 40vw;
    max-width: 500px;
    min-width: 300px;
}

.signup-form--wrap table {
    width: 100%;
    margin-bottom: 20px;
}

.signup-form--wrap table tr { 
    width: 100%;
}

.signup-form--wrap table tr th {
    display: none;
}

.signup-form--wrap table tr td {
    padding: 10px;
}

.info-input {
    display: flex;
    align-items: center;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 7px;
    transition: border-color 0.3s ease-in-out;
}

.info-input:focus-within {
    border-color: #38b8b2; 
}

.info-input-icon {
    margin-right: 5px;
    margin-left: 10px;
    width: 25px;
    transition: border-color 0.3s ease-in-out;
}

.info-input-icon i {
    font-size: 20px;
}

.info-input:focus-within .info-input-icon:not(#pw-info-icon) i {
    color: #38b8b2 !important;
}

.user_type_list {
    list-style-type: none;  
    padding: 0;
    margin: 0;
}

.user_type_list .radio_item {
    display: inline-block; 
    position: relative;   
    cursor: pointer; 
    margin-right: 10px;  
    line-height: 1.3;
}

.user_type_list .radio_item input[type="radio"] {
    position: absolute;    
    opacity: 0;       
    margin: 0;  
}

.user_type_list .radio_item label {
    display: inline-block;
    padding: 10px 20px;   
    background-color: transparent;
    border: 1px solid rgb(185, 185, 185); 
    border-radius: 5px;
}

.user_type_list .radio_item input[type="radio"]:checked + label {
    border: 1px solid #38B8B2;
    color: #38B8B2;               
}

input[type="submit"], .btn-3d {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #38B8B2;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

input[type="submit"]:hover, .btn-3d:hover {
    background-color: #309994;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 10px;
    width: calc(100% - 100px);
    height: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.helptext_pw {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
    border: 1px solid #ccc;
    max-width: 350px;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 13px;
}

.error-message ul {
    list-style-type: none; 
    padding-left: 0;     
    margin-top: 5px;             
}

.error-message li {
    margin: 0;       
    padding: 0;    
}    