{% extends "base_layout.html" %}
{% load static %}

    {% block title %} About{% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/aivexhall.css' %}" />
    {% endblock %}

{% block main_content %}
        <main>
            <br><br><br>
            <h2>시설안내</h2>
            <div class="facility-guide">
                <img src="{% static 'images/coex.jpg' %}" alt="facility image">
                <div class="info">
                    <h3>Hall A</h3>
                    <p>1층에 위치한 A홀은 10,368㎡의 면적으로 최대 520개의 부스 설치가 가능하며 접근이 용이한 최적의 전시공간입니다. 친환경 전시시설을 자랑하는 코엑스는 전시장조명을 LED로 교체하여 에너지 절감에 앞장서고 있으며, 콘크리트 바닥은 파이텍스 없이도 전시가 가능하게 하여 전시 폐기물을 최소화시키고 있습니다.</p>
                    <a href="{% url 'reserve_hall:reserve_hall' 'hall-a' %}"><button class="more-info">더보기 +</button></a>


                </div>
            </div>
            <br><br>
            <div class="facility-guide">
                <img src="{% static 'images/coex.jpg' %}" alt="facility image">
                <div class="info">
                    <h3>Hall B</h3>
                    <p>2층에 위치한 B홀은 9,368㎡의 면적으로 최대 480개의 부스 설치가 가능하며 접근이 용이한 최적의 전시공간입니다. 친환경 전시시설을 자랑하는 코엑스는 전시장조명을 LED로 교체하여 에너지 절감에 앞장서고 있으며, 콘크리트 바닥은 파이텍스 없이도 전시가 가능하게 하여 전시 폐기물을 최소화시키고 있습니다.</p>
                    <a href="{% url 'reserve_hall:reserve_hall' 'hall-b' %}"><button class="more-info">더보기 +</button></a>


                </div>
            </div>
            <br><br>
            <div class="facility-guide">
                <img src="{% static 'images/coex.jpg' %}" alt="facility image">
                <div class="info">
                    <h3>Hall C</h3>
                    <p>3층에 위치한 C홀은 8,368㎡의 면적으로 최대 370개의 부스 설치가 가능하며 접근이 용이한 최적의 전시공간입니다. 친환경 전시시설을 자랑하는 코엑스는 전시장조명을 LED로 교체하여 에너지 절감에 앞장서고 있으며, 콘크리트 바닥은 파이텍스 없이도 전시가 가능하게 하여 전시 폐기물을 최소화시키고 있습니다.</p>
                    
                    <a href="{% url 'reserve_hall:reserve_hall' 'hall-c' %}"><button class="more-info">더보기 +</button></a>
                    

                </div>
            </div>
        </main>
    </div>
{% endblock %}
