{% extends "base_layout.html" %}
{% load static %}

    {% block title %} About{% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/aivexhall.css' %}" />
    {% endblock %}

{% block main_content %}
<div class = "background-pc-list pc"></div>
<div id="hall-section">
    <h2 class="hall_title">시설 안내</h2>

    <div class="floor-nav">
        <button class="floor-button" data-floor="B1"><span>B1F</span></button>
        <button class="floor-button on" data-floor="1"><span>1F</span></button>
        <button class="floor-button" data-floor="2"><span>2F</span></button>
        <button class="floor-button" data-floor="3"><span>3F</span></button>
        <button class="floor-button" data-floor="4"><span>4F</span></button>
        <button class="floor-button" data-floor="5"><span>5F</span></button>
    </div>

    {% for hall in floors %}
    <div class="floor-info floor-{{ hall.floor_number }}" id="floor-{{ hall.floor_number }}-{{ forloop.counter }}" style="display: none;">
        <div class="image-container">
            <img src="{% static hall.image %}" alt="facility image">
            <div class="overlay">
                <h3>{{ hall.title }}</h3>
            </div>
            
        </div>
        <div class='descriptionevent'>
            <p>{{ hall.description |safe}}</p>
        </div>
            
        
    </div>
    {% endfor %}


</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/aivexhall.js' %}"></script>
{% endblock %}