<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />  
    <title>전시회 정보 수정</title>
    <link rel="stylesheet" href="{% static 'exhibinfo.css' %}">

    <!--header/sidebar-->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />      
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />    
    <!--end header/sidebar-->
</head>
<body>
    <!--header/sidebar-->
    {% include 'base/header.html' %}
    {% include 'base/sidebar.html' %}

    <!--end header/sidebar-->
    <div class = "background-pc pc"></div>
    <div class = "background-pc-bottom pc"></div>

    <div class='container-update'>

        <h2 class='exhibit_update_title'> 전시회 정보 수정 </h2>

        <div class = "exhibit_update--wrap">
            <form method="post" enctype="multipart/form-data" class="booth-update"> 
                {% csrf_token %}
                <div class="exhib_name">
                    <label for="exhib_name">전시명</label>
                    {{exhi_form.exhibition_name}}
                </div>
                <div class="exhib_description">
                    <label for="exhib_description">전시 내용</label>
                    {{exhi_form.exhibition_description }}
                </div> 
                <div class="start_date">
                    <label for="start_date">시작날짜</label>
                    {% comment %} <input type="date" name="start_date" required="" id="id_start_date" value="{{ exhi_form.start_date|date:'Y-m-d' }}"> {% endcomment %}
                    {{exhi_form.start_date }}
                </div> 
                <div class="end_date">
                    <label for="end_date">종료날짜</label>
                    {{exhi_form.end_date }}
                </div> 
                <button type="submit" class="save">수정</button>
            </form>
        </div>
    </div>

    <!--header/sidebar-->
    <script src="{% static 'js/uiSidebar.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!--end header/sidebar-->
</body>
</html>