<!DOCTYPE html>
{% load static %}
<html>

<head>        
    <title>[7조]AIVEX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />    

    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />   
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
<div class="app__size">

    <!-- 헤더 부분 -->
    <div class = "header--fixed">
        <button class= "header__button--menu icon" style="cursor:pointer; opacity:1;"></button>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
        <button class= "for_loc_center icon"></button>
    </div>
    <!-- end 헤더 부분 -->

    <!-- 본문 부분 -->
    <div class= "body--wrap">

        <div class= "swiper--container">
            <div class="blurred--background"></div>
            <div class = "black--layered"></div>
            <div class= "swiper--wrapper">       
                <div class = "exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class= "poster__image" src="../static/icons/1기_전시포스터.jpg">
                    </a>
                    <div class= "exhibit__about">
                        <div class= "exhibit__title"> 에이블 1기 빅프로젝트 전시회 </div>
                        <div class= "exhibit__date"> 2024.08.10 ~ 2024.08.12 </div>
                    </div>
                </div>

                <div class = "exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class= "poster__image" src="../static/icons/2기_전시포스터.jpg">
                    </a>
                    <div class= "exhibit__about">
                        <div class= "exhibit__title"> 에이블 2기 빅프로젝트 전시회 </div>
                        <div class= "exhibit__date"> 2024.08.13 ~ 2024.08.15 </div>
                    </div>
                </div>

                <div class = "exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class= "poster__image" src="../static/icons/3기_전시포스터.jpg">
                    </a>
                    <div class= "exhibit__about">
                        <div class= "exhibit__title"> 에이블 3기 빅프로젝트 전시회 </div>
                        <div class= "exhibit__date"> 2024.08.18 ~ 2024.08.20 </div>
                    </div>
                </div>

                <div class = "exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class= "poster__image" src="../static/icons/4기_전시포스터.jpg">
                    </a>
                    <div class= "exhibit__about">
                        <div class= "exhibit__title"> 에이블 4기 빅프로젝트 전시회 </div>
                        <div class= "exhibit__date"> 2024.08.21 ~ 2024.08.23 </div>
                    </div>
                </div>

                <div class = "exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class= "poster__image" src="../static/icons/1기_전시포스터.jpg">
                    </a>
                    <div class= "exhibit__about">
                        <div class= "exhibit__title"> 에이블 1기 빅프로젝트 전시회 </div>
                        <div class= "exhibit__date"> 2024.08.10 ~ 2024.08.12 </div>
                    </div>
                </div>                

            </div>
        </div>
        
        <!-- 중간에 있는 메뉴바 추후에 아이콘 집어넣기-->
        <div class = "main__menu--wrap">
            <div class="main__menu--icons">
                <button class="main__menu--item" id="btn1">전시회1</button>
                {% comment %} <button class="icon" id="btn2">전시회2</button> {% endcomment %}
                <button class="main__menu--item" id="btn2"><a href="{% url 'create_exhibition' %}">전시회2</a></button>
                <button class="main__menu--item" id="btn3">전시회3</button>
                <button class="main__menu--item" id="btn4">전시회4</button>
            </div> 
        </div> 
        
        <!-- 챗봇 -->
        <div class="chatbot--wrapper">
            <button class = "chatbot__icon icon" id="chatbotToggle"> </button>
            <div class="chatbot__window" id="chatbotWindow">
                <div id="chatbot__title">
                    <span><img class = "chatbot__header__profile icon"></span>
                    <h4 style="display: inline-block; vertical-align: middle;">AIVEX</h4>
                </div>
                <div id="chatbot__body">
                    <div class="message bot-message">
                        <img class="bot-profile">
                        <div class="message-content">안녕하세요! 무엇을 도와드릴까요?</div>
                    </div>
                </div>
                <div id="chatbot--footer">
                    <div id="options-container" class="options">
                        <button class="option-button">option1</button>
                        <button class="option-button">option2</button>
                        <button class="option-button">option3</button>
                        <button class="option-button">option4</button>
                    </div>
                    <div id = "chatbot__text">
                        <textarea id="message--input" placeholder="메세지를 입력해주세요."></textarea>
                        <button id="send-button" class= "icon"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end 본문 부분 -->


    <!-- 사이드바 부분 -->
    <div class= "sidebar" data-role="side-bar">
        <div class ="sidebar__backdrop"></div>
        <div class = "sidebar--wrap">
            <div class = 'sidebar__header'>
                <div class = "sidebar__header__menu--wrap">
                    <button class = "sidebar__menu--home icon"></button>
                </div>

                <div class = "sidebar__header__login--wrap">
                    <div class = "sidebar__login__profile"></div>

                    <div class = "sidebar__login__info">
                        {% if not user.is_authenticated %}     
                            <a href="{% url 'login' %}" class="sidebar__login__user--wrap">
                                <p class = "sidebar__login--btn"> 로그인을 해주세요. </p>
                            </a>
                        {% else %} <!-- 여기 css 작업 안함. 로그인 불가했음.-->
                            <ul>
                                <li>
                                    <p class="user-name"><span>{{user}}님!</span></p>
                                </li>
                                <li>
                                    <form class = "logout-form" method="post" action="{% url 'logout' %}?next={{request.path}}" style="display:inline;">
                                        {% csrf_token %}
                                        <button  type="submit" class="logout-button" style="background:none; border:none; color:inherit; padding:0; cursor:pointer;">
                                        로그아웃</button>
                                    </form>
                                </li>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class = "sidebar__menu--wrap">
                <ul class = "sidebar__menu--list--wrap">
                    <li class = "sidebar__menu--list"><a href="{% url 'mypage' %}" class = "sidebar__menu--item"> 마이페이지 </a></li>
                    <li class = "sidebar__menu--list"><a class = "sidebar__menu--item"> 내 예매 확인 </a></li>
                    <li class = "sidebar__menu--list"><a class = "sidebar__menu--item"> 내 예약 확인 </a></li>
                </ul>            
            </div>

        </div>
    </div>

</div>

    <script src="{% static 'js/chatbot.js' %}"></script>  
    <script src="{% static 'js/uiMain.js' %}"></script>
    <script src="{% static 'js/uiSidebar.js' %}"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>



            {% comment %} <nav class="mobile-menu" id="mobile-menu"><br><br><br>
                <ul>
                    <div class="user_option">
                        {% if not user.is_authenticated %}     
                          <li><a class="nav-link" href="{% url 'signup' %}"><i class="fa-regular fa-user fa-xl"> Signup</i></a></li><br>   
                          <li><a class="nav-link" href="{% url 'login' %}?next={{request.path}}"><i class="fa-regular fa-user fa-xl"> Login</i></a></li>
        
                        {% else %}
                          <li><p class="user-name"><i class="fa-regular fa-user fa-xl"><span>{{user}}님!</span></i></p></li>
                          <li><a href="{% url 'mypage' %}"><i class="fa-solid fa-check fa-xl"> 마이페이지</i></a></li><br>   
                          <li><a href="#"><i class="fa-solid fa-check fa-xl"> 예매 확인</i></a></li><br>                     
                           <li><a href="#"><i class="fa-solid fa-check fa-xl"> 예약 확인</i></a></li><br>                    
                          <li><a href="confirmation"><i class="fa-solid fa-check fa-xl"> 예약 확인</i></a></li><br>                    
                          <form class = "logout-form" method="post" action="{% url 'logout' %}?next={{request.path}}" style="display:inline;">
                            {% csrf_token %}
                         
                          <li><button  type="submit" class="logout-button" style="background:none; border:none; color:inherit; padding:0; cursor:pointer;">
                            <i class="fa-regular fa-user fa-xl"> Logout </i>
                          </button></li>
                 
                          </form>
                        {% endif %}
                    {% endcomment %}
