<!DOCTYPE html>
{% load static %}
<html>

<head>        
    <title>[7조]AIVEX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />    

    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />   
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <!-- 헤더 부분 -->
    <div class="header--fixed">
        <button class="header__button--menu icon" style="cursor:pointer; opacity:1;"></button>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class="header__title icon" style="cursor:pointer;"></button></a>
        </div>
        <button class="for_loc_center icon"></button>
    </div>
    <!-- end 헤더 부분 -->

    <!-- 본문 부분 -->
    <div class="body--wrap">
        <div class="swiper--container">
            <div class="blurred--background"></div>
            <div class="black--layered"></div>
            <div class="swiper--wrapper">       
                <div class="exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class="poster__image" src="../static/icons/1기_전시포스터.jpg">
                    </a>
                    <div class="exhibit__about">
                        <div class="exhibit__title"> 에이블 1기 빅프로젝트 전시회 </div>
                        <div class="exhibit__date"> 2024.08.10 ~ 2024.08.12 </div>
                    </div>
                </div>

                <div class="exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class="poster__image" src="../static/icons/2기_전시포스터.jpg">
                    </a>
                    <div class="exhibit__about">
                        <div class="exhibit__title"> 에이블 2기 빅프로젝트 전시회 </div>
                        <div class="exhibit__date"> 2024.08.13 ~ 2024.08.15 </div>
                    </div>
                </div>

                <div class="exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class="poster__image" src="../static/icons/3기_전시포스터.jpg">
                    </a>
                    <div class="exhibit__about">
                        <div class="exhibit__title"> 에이블 3기 빅프로젝트 전시회 </div>
                        <div class="exhibit__date"> 2024.08.18 ~ 2024.08.20 </div>
                    </div>
                </div>

                <div class="exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class="poster__image" src="../static/icons/4기_전시포스터.jpg">
                    </a>
                    <div class="exhibit__about">
                        <div class="exhibit__title"> 에이블 4기 빅프로젝트 전시회 </div>
                        <div class="exhibit__date"> 2024.08.21 ~ 2024.08.23 </div>
                    </div>
                </div>

                <div class="exhibit__content">
                    <a class="exhibit__poster"> <!-- 각 전시회장으로의 링크 걸기-->
                        <img class="poster__image" src="../static/icons/1기_전시포스터.jpg">
                    </a>
                    <div class="exhibit__about">
                        <div class="exhibit__title"> 에이블 1기 빅프로젝트 전시회 </div>
                        <div class="exhibit__date"> 2024.08.10 ~ 2024.08.12 </div>
                    </div>
                </div>                

            </div>
        </div>
        
        <!-- 중간에 있는 메뉴바 -->
        <div class="main__menu--wrap">
            <div class="main__menu--icons">
                <button class="main__menu--item" id="btn1"><span>전시회 목록</span></button> 
                <button class="main__menu--item" id="btn2"><span>공지사항</span></button> 
                <button class="main__menu--item" id="btn3"><span>About</span></button>
                {% if user.is_authenticated %}
                    {% if user.profile.user_type == '기업회원' %} 
                        <button class="main__menu--item" id="btn5"><span>배치도 생성</span></button>
                    {% else %}
                        <button class="main__menu--item" id="btn4"><span>FAQ</span></button>
                    {% endif %}
                {% else %}
                    <button class="main__menu--item" id="btn4"><span>FAQ</span></button>
                {% endif %}
            </div> 
        </div> 
        

        <!-- 챗봇 -->
        <div class="chatbot--wrapper">
            <button class="chatbot__icon icon" id="chatbotToggle"> </button>
            <div class="chatbot__window" id="chatbotWindow">
                <div id="chatbot__title">
                    <span><img class="chatbot__header__profile"></span>
                    <h4 style="display: inline-block; vertical-align: middle;">AIVEX</h4>
                </div>
                <div id="chatbot__body">
                    <div class="message bot-message">
                        <img class="bot-profile">
                        <div class="message-content">안녕하세요! 무엇을 도와드릴까요?</div>
                    </div>
                </div>
                <div id="chatbot--footer">
                    <div id="options-container" class="options">
                        <button class="option-button">AIVEX가 뭐죠?</button>
                        <button class="option-button">AIVEX의 기능은 무엇인가요?</button>
                        <button class="option-button">AIVEX의 장점은 무엇인가요?</button>
                        <button class="option-button">AIVEX는 어떻게 사용할 수 있나요?</button>
                    </div>
                    <div id="chatbot__text">
                        <textarea id="message--input" placeholder="메세지를 입력해주세요."></textarea>
                        <button id="send-button" class="icon"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end 본문 부분 -->


    <!-- 사이드바 부분 -->
    <div class="sidebar" data-role="side-bar">
        <div class="sidebar__backdrop"></div>
        <div class="sidebar--wrap">
            <div class="sidebar__header">
                <div class="sidebar__header__menu--wrap">
                    <button class="sidebar__menu--home icon"></button>
                </div>

                <div class="sidebar__header__login--wrap">
                    <div class="sidebar__login__profile"></div>

                    <div class="sidebar__login__info">
                        {% if not user.is_authenticated %}     
                            <a href="{% url 'accounts:login' %}" class="sidebar__login__user--wrap">
                                <p class="sidebar__login--btn"> 로그인을 해주세요. </p>
                            </a>
                        {% else %}
                            <p class="user-type">{{ user.profile.user_type }}</p> 
                            <p class="user-name"><span>{{user}}님!</span></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="sidebar__menu--wrap">
                <ul class="sidebar__menu--list--wrap">
                    {% if user.is_authenticated %}
                        {% if user.profile.user_type == '기업회원' %}
                            <li class="sidebar__menu--list"><a href="{% url 'accounts:update' %}" class="sidebar__menu--item"> 회원 정보 수정 </a></li>
                            <li class="sidebar__menu--list"><a href="{% url 'exhibition:update' %}" class="sidebar__menu--item"> 부스 정보 수정 </a></li>
                            {% if not user.programs.exists %}
                                <li class="sidebar__menu--list"><a href="{% url 'program_open' %}" class="sidebar__menu--item"> 프로그램 생성 </a></li>
                            {% else %}
                                <li class="sidebar__menu--list"><a href="{% url 'program_manage' %}" class="sidebar__menu--item"> 프로그램 관리 </a></li>
                            {% endif %}
                            <li class="sidebar__menu--list"><a class="sidebar__menu--item"> 부스 예약 현황 </a></li>
                            <li class="sidebar__menu--list"><a class="sidebar__menu--item" id="btn4"> FAQ </a></li>
                            {% if user.is_superuser %}
                                <li class="sidebar__menu--list"><a href='/admin/' class="sidebar__menu--item">관리자 페이지</a></li>
                            {% elif user.is_staff %}
                                <li class="sidebar__menu--list"><a href='/exhibition/booth_list/' class="sidebar__menu--item">부스 목록</a></li>
                            {% endif %}
                        {% else %}
                            <li class="sidebar__menu--list"><a href="{% url 'accounts:update' %}" class="sidebar__menu--item"> 회원 정보 수정 </a></li>
                            <li class="sidebar__menu--list"><a href="{% url 'ticket:ticket_list' %}" class="sidebar__menu--item"> 내 티켓 확인 </a></li>
                            <li class="sidebar__menu--list"><a class="sidebar__menu--item"> 내 예약 확인 </a></li>
                            <li class="sidebar__menu--list"><a class="sidebar__menu--item"> 북마크 </a></li>
                        {% endif %}
                    {% else %}
                        <span> 로그인 후 서비스 이용 가능 </span>
                    {% endif %}
                </ul>
            
                {% if user.is_authenticated %}
                <form class="logout-form" method="post" action="{% url 'accounts:logout' %}?next={{request.path}}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">로그아웃</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/chatbot.js' %}"></script>  
    <script src="{% static 'js/uiMain.js' %}"></script>
    <script src="{% static 'js/uiSidebar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>
