<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />      
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />     
    <link rel="stylesheet" href="{% static 'css/layout1.css' %}" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>Image with Clickable Rectangles</title>
</head>
<body> 
    <!-- 헤더 부분 -->
    <div class="header-sub">
        <button class= "header__button--menu icon" style="cursor:pointer; opacity:1;"></button>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
        <button class= "for_loc_center icon"></button>
    </div>
    <!-- end 헤더 부분 -->

    <!-- 사이드바 부분 -->
    <div class= "sidebar" data-role="side-bar">
        <div class ="sidebar__backdrop"></div>
        <div class = "sidebar--wrap">
            <div class = 'sidebar__header'>
                <div class = "sidebar__header__menu--wrap">
                    <button class = "sidebar__menu--home icon"></button>
                </div>

                <div class = "sidebar__header__login--wrap">
                    <div class = "sidebar__login__profile"></div>

                    <div class = "sidebar__login__info">
                        {% if not user.is_authenticated %}     
                            <a href="{% url 'accounts:login' %}" class="sidebar__login__user--wrap">
                                <p class = "sidebar__login--btn"> 로그인을 해주세요. </p>
                            </a>
                        {% else %} 
                            <ul class = "sidebar__login__info--list">
                                <li class="user-item">
                                    <p class="user-name"><span>{{user}}님!</span></p>
                                </li>
                                <li class="user-item">
                                    <form class = "logout-form" method="post" action="{% url 'accounts:logout' %}?next={{request.path}}" >
                                        {% csrf_token %}
                                        <button  type="submit" class="logout-button">로그아웃</button>
                                    </form>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class = "sidebar__menu--wrap">
                <ul class = "sidebar__menu--list--wrap">
                    <li class = "sidebar__menu--list"><a href="{% url 'mypage' %}" class = "sidebar__menu--item"> 마이페이지 </a></li>
                    <li class = "sidebar__menu--list"><a href="{% url 'reserve_exhib' %}" class = "sidebar__menu--item"> 내 예매 확인 </a></li>
                    <li class = "sidebar__menu--list"><a class = "sidebar__menu--item"> 내 예약 확인 </a></li>
                </ul>            
            </div>
        </div>
    </div>
    <!-- end 사이드바 부분 -->

    <div id="booth-search">
        <div>
            <select id="category" name="category">
            </select>
            <input type="text" id="booth-name-input" placeholder="부스이름">
            <button id="search-button">Search</button>
        </div>
        <div id="suggestions"></div>
    </div>
    <div class="image-container">
        <img src="{% static image_path %}" alt="Processed Image">
        {% for i, rect in rectangles %}
        <div class="rectangle" 
            style="left: {{ rect.left }}px;
                    top: {{ rect.top }}px; width: {{ rect.width }}px;
                    height: {{ rect.height }}px;
                    transform: rotate({{ rect.rotate }}deg);"
                    data-index="{{ i }}">
        </div>
        {% endfor %}
    </div>
    <div class="modal" id="myModal" >
        <div class="modal-content">
            <span class="close" id="close-button">&times;</span>
            <img id="modalImage" src="" alt="Modal Image" style="width:300px">    
            <p id="modalText"></p>
            <div id="r-btn">
                <a href="#" class="bookmark" id="bookmark-btn"></a> <!-- 계정과 연동 필요 -->
                <button class="button" id="reservation" data-reservation-url="{% url 'reservation' 'placeholder_booth_id' %}"><span>예약</span></button>
            </div>
        </div>
    </div>
    <div class="bookmarkfunc">
        <button class="bookmarkbtn" id="show-bookmarks">북마크 리스트</button>
        <button class="bookmarkbtn" id="reset-bookmarks">북마크 리셋</button>
    </div>
    <script>
        const imageBasePath = "{% static 'booth_thumbnail/1/' %}";
        const boothsJsonString = '{{ booths|escapejs }}';
        const booths = JSON.parse(boothsJsonString);
    </script>
    <script src="{% static 'js/booth.js' %}"></script>
    <script src="{% static 'js/uiSidebar.js' %}"></script>
</body>
</html>


