<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />  
    <title>회원 정보 수정</title>
    <link rel="stylesheet" href="{% static 'css/bass.css' %}">
    <link rel="stylesheet" href="{% static 'memberinfo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <!-- 헤더 부분 -->
    <div class="header-sub">      
        <a class="back-button" href="{% url 'index' %}" ><i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"> </i></a>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
    </div>
    <!-- end 헤더 부분 -->

    <div class='container-update'>
        {% comment %} <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit" class="save">저장</button>
        </form> {% endcomment %}
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="{{ user_form.username.id_for_label }}">아이디</label>
                {{ user_form.username }}
            </div>
            <div>
                <label for="{{ profile_form.name.id_for_label }}">이름</label>
                {{ profile_form.name }}
            </div>
            <div>
                <label for="{{ profile_form.user_type.id_for_label }}">고객 유형</label>
                {{ profile_form.user_type }}
            </div>
            <div>
                <label for="{{ profile_form.phone_number.id_for_label }}">전화번호</label>
                {{ profile_form.phone_number }}
            </div>
            
            <button type="submit" class="save">저장</button>
        </form>
    </div>
</body>
</html>
