{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />    
{% endblock %}

{% block title %}AIVEX Ticket{% endblock %}


{% block main_content %}
    <div class="container">
      {% if messages %}   
        <ul> 
          {% for message in messages%}
            <li>{{ message }} </li>
          {% endfor %}
        </ul>
      {% endif %}

        <div class="edit_case">
          <button class="profile" id="memberinfo" onclick="location.href='/accounts/update/'"><i class="fa-solid fa-circle-user fa-2xl"></i><br><br>회원 정보 수정</button>
            <button class="booth" id="boothinfo" onclick="location.href='/exhibition/update/'"><i class="fa-solid fa-store fa-2xl"></i><br><br>부스 정보 수정</button>
            {% if user.is_superuser %}
              <button class="admin_page" id="admin_page" onclick="location.href='/admin/'"><i class="fa-solid fa-store fa-2xl"></i><br><br>관리자 페이지</button>
            {% elif user.is_staff %}
              <button class="booth_list" id="booth_list" onclick="location.href='/exhibition/booth_list/'"><i class="fa-solid fa-store fa-2xl"></i><br><br>부스 목록</button>
            {% endif %}
        </div>
    </div>
    {% endblock %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
