<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />    
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />      
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>AIVEX Ticket</title>
</head>
<body>
    <!-- 헤더 부분 -->
    <div class="header-sub">      
        <a class="back-button" href="{% url 'index' %}" ><i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"> </i></a>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
    </div>
    <!-- end 헤더 부분 -->

    <div class="container">
      {% if messages %}   
        <ul> 
          {% for message in messages%}
            <li>{{ message }} </li>
          {% endfor %}
        </ul>
      {% endif %}

        <div class="edit_case">
          <button class="profile" id="memberinfo" onclick="location.href='/accounts/update/'"><i class="fa-solid fa-circle-user fa-2xl"></i><br><br>회원 정보 수정</button>
            <button class="booth" id="boothinfo" onclick="location.href='/exhibition/update/'"><i class="fa-solid fa-store fa-2xl"></i><br><br>부스 정보 수정</button>
            {% if user.is_superuser %}
              <button class="admin_page" id="admin_page" onclick="location.href='/admin/'"><i class="fa-solid fa-store fa-2xl"></i><br><br>관리자 페이지</button>
            {% elif user.is_staff %}
              <button class="booth_list" id="booth_list" onclick="location.href='/exhibition/booth_list/'"><i class="fa-solid fa-store fa-2xl"></i><br><br>부스 목록</button>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
