<!DOCTYPE html>
{% load static %}
<html>
<head>        
    <title>Django</title>
    <meta charset="utf-8">    
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />    
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <div class="container">
      <header>
        <button class="menu-btn" id="menu-btn">&#9776;</button>
            <h1>My Page</h1>
            <a id="home" href="{% url 'index' %}" ><i class="fas fa-home fa-2xl"> </i></a>
            <nav class="mobile-menu" id="mobile-menu">
                <ul>
                    <li><a href="{% url 'index' %}"><i class="fas fa-home fa-2xl"></i></a></li><br><br>
                   
                    <div class="user_option">
                      {% if not user.is_authenticated %}     
                      <li><a class="nav-link" href="{% url 'signup' %}"><i class="fa-regular fa-user fa-xl"> Signup</i></a></li><br>   
                      <li><a class="nav-link" href="{% url 'login' %}?next={{request.path}}"><i class="fa-regular fa-user fa-xl"> Login</i></a></li>
  
                      {% else %}
                          <li><p class="user-name"><i class="fa-regular fa-user fa-xl"><span>{{user}}님!</span></i></p></li>
                          <li><a href="{% url 'mypage' %}"><i class="fa-solid fa-check fa-xl"> 마이페이지</i></a></li><br>    <!-- 로그인시 이용가능하도록 -->
                          <li><a href="#"><i class="fa-solid fa-check fa-xl"> 예매 확인</i></a></li><br>                      <!-- 로그인시 이용가능하도록 -->
                          {% comment %} <li><a href="#"><i class="fa-solid fa-check fa-xl"> 예약 확인</i></a></li><br>                      <!-- 로그인시 이용가능하도록 --> {% endcomment %}
                          <li><a href="{% url 'confirmation' %}"><i class="fa-solid fa-check fa-xl"> 예약 확인</i></a></li><br>                      <!-- confirmation.html로 연결해 둠 -->
                          <form class = "logout-form" method="post" action="{% url 'logout' %}?next={{request.path}}" style="display:inline;">
                              {% csrf_token %}
                              <li><button  type="submit" class="logout-button" style="background:none; border:none; color:inherit; padding:0; cursor:pointer;">
                                  <i class="fa-regular fa-user fa-xl"> Logout </i>
                              </button></li>
                          </form>
                      {% endif %}
                      </div>
                </ul>
            </nav>
        </header>
        <div>
          {% if messages %}
            <ul> 
              {% for message in messages%}
                <li>{{ message }} </li>
              {% endfor %}
            </ul>
          {% endif %}

            <div class="edit_case">
                <button class="profile" id="edit_profile"><i class="fa-solid fa-circle-user fa-2xl"></i><br><br>회원 정보 수정</button>
                <button class="booth" id="edit_booth"><i class="fa-solid fa-store fa-2xl"></i><br><br>부스 정보 수정</button>
                {% if user.is_staff %}
                  <button class="admin_page" id="admin_page" onclick="location.href='/admin/'"><i class="fa-solid fa-store fa-2xl"></i><br><br>관리자 페이지</button>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
