{% extends "base_layout.html" %}
{% load static %}

{% block title %}
    비밀번호 확인
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/password_check.css' %}">
{% endblock %}

{% block main_content %}
<div class="background-container"></div>
<div class="password-check-container">
    <h2>비밀번호 확인</h2>
    
    {% if messages %}
        <div class="alert">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    
    <form method="post" id="passwordForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">비밀번호:</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="invalid-feedback">
                비밀번호를 입력해 주세요.
            </div>
        </div>
        <button type="submit" class="btn">확인</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('passwordForm');
        form.addEventListener('submit', function(event) {
            var passwordInput = document.getElementById('password');
            if (!passwordInput.value) {
                event.preventDefault();
                document.querySelector('.invalid-feedback').style.display = 'block';
            }
        });
    });
</script>
{% endblock %}
