<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로그램 관리</title>
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />
    <link rel="stylesheet" href="{% static 'program_manage.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <div class="container">
        <header>
            <button class="menu-btn" id="menu-btn">&#9776;</button>
            <h1>프로그램 관리</h1>
            <a id="home" href="{% url 'index' %}"><i class="fas fa-home fa-2xl"> </i></a>
        </header>
        <div class="program-manage-container">
            <h1>프로그램 관리</h1>
            <div class="program-details">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <label for="selected_times">오픈할 시간대:</label>
                        <div class="time-slots">
                            {% for time in time_slots %}
                                <label class="time-slot-label">
                                    <input type="checkbox" name="selected_times" value="{{ time }}" {% if time in selected_times %}checked{% endif %}> {{ time }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <button type="submit" name="edit">프로그램 수정하기</button>
                    <button type="submit" name="delete">프로그램 삭제하기</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
