{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/reveal_QR.css' %}" /> 
{% endblock %}

{% block title %}
AIVEX Ticket
{% endblock %}
    
{% block main_content %} 

    <div class="container">
        <img class= "poster__image" src="../static/icons/1기_전시포스터.jpg">  <!--db에서 읽어와 전시회 기수 ,정보 읽어옴-->
        <div>
            <p>전시장 1</p>
            <p>정보</p>
        </div>
        <button id="reserve_btn">예약하기</button>
    </div>
{% endblock %}
