<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />
    <link rel="stylesheet" href="{% static 'reservation.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>예약하기</title>
</head>
<body>
    <!-- 헤더 부분 -->
    <div class="header-sub">      
        <a class="back-button" href="{% url 'layout1' %}" ><i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"> </i></a>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
    </div>
    <!-- end 헤더 부분 -->

    <div class="reservation-container">
        <h1>예약하기</h1>
        <div class="booth-info">
            <p>기업명: {{ booth.pk }}</p>
            <p>부스명: {{ booth.bname }}</p>
        </div>
        <div class="people-counter">
            <button id="decrease">-</button>
            <div id="people">1</div>
            <button id="increase">+</button>
        </div>
        <div class="time-slots">
            <div class="time-slot selected">10:00</div>
            <div class="time-slot">11:00</div>
            <div class="time-slot">12:00</div>
            <div class="time-slot">13:00</div>
            <div class="time-slot">14:00</div>
            <div class="time-slot">15:00</div>
            <div class="time-slot">16:00</div>
            <div class="time-slot">17:00</div>
        </div>
        <button id="reserve-button">예약하기</button>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
