{% extends "base_layout.html" %}
{% load static %}


{% block title %} 예약 현황{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/pc_mob_lay.css' %}" />
{% endblock %}

{% block main_content %}
<div class = "background-pc pc"></div>

<div class="content--container">
    <h2 class='content--title'> 예약 확인 </h2>
    
    <div class = "content--wrap">
        <div class = "content--content">
            <table>
                <thead>
                    <tr>
                        <th>프로그램명</th>
                        <th>사용자명</th>
                        <th>인원수</th>
                        <th>예약 시간</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.program.name }}</td>
                        <td>{{ reservation.user.username }}</td>
                        <td>{{ reservation.num_of_people }}</td>
                        <td>{{ reservation.reservationtime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
