<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reservation.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>예약하기</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div class="header-sub">      
        <a class="back-button" href="{% url 'layout1' %}"><i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"> </i></a>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}"><button class="header__title icon" style="cursor:pointer;"></button></a>
        </div>
    </div>
    <div class="reservation-container">
        <h1>예약하기</h1>
        <div class="booth-info">
            <p>기업명: {{ booth.company_name }}</p>
            <p>부스명: {{ booth.booth_name }}</p>
        </div>
        <div class="people-counter">
            <button class="pm-btn" id="decrease" aria-label="감소">-</button>
            <div id="people">1</div>
            <button class="pm-btn" id="increase" aria-label="증가">+</button>
        </div>
        <div class="time-slots">
            {% for time_slot in all_times %}
                <div class="time-slot {% if time_slot not in available_times %}disabled{% endif %}" data-time="{{ time_slot }}">{{ time_slot }}</div>
            {% endfor %}
        </div>
        <button id="reserve-button" onclick='make_reservation()'>예약하기</button>
    </div>

    <script src="{% static 'js/reservation.js' %}"></script>
    <script>
        function make_reservation() {
            const selectedTime = document.querySelector('.time-slot.selected').dataset.time;
            const people = document.getElementById('people').textContent;
            const boothCompanyName = '{{ booth.company_name }}';
            const boothName = '{{ booth.booth_name }}';
            $.ajax({
                type: 'POST',
                url: "{% url 'booth_program:submit_reservation' %}",
                data: {
                    reserved_time: selectedTime,
                    num_of_people: people,
                    company_name: boothCompanyName,
                    program_name: boothName,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('예약 완료! 시간: ' + selectedTime + ', 인원수: ' + people);
                        window.location.href = "{% url 'booth_program:reservation_check' %}";
                    } else {
                        alert('예약에 실패하였습니다.');
                    }
                },
                error: function(xhr, status, error) {
                    alert('AJAX 요청 실패: ' + error);
                }
            });
        }
    </script>
</body>
</html>