{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/reveal_QR.css' %}" /> 
{% endblock %}

{% block title %}
AIVEX Ticket
{% endblock %}
    
{% block main_content %} 
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <p>전시장 1</p>
            <p>표 확인</p>
            <img class ="img__QR icon">
        </form>
    </div>
{% endblock %}
