{% extends "base_layout.html" %}
{% load static %}


{% block title %} 프로그램 관리 {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/pc_mob_lay.css' %}" />
<link rel="stylesheet" href="{% static 'css/program_manage.css' %}" />
{% endblock %}

{% block main_content %}   
<div class = "background-pc pc"></div>
<div class="content--container">
    <h2 class='content--title'> 프로그램 관리 </h2>
    
    <div class = "content--wrap">

        <div class="content--content">
            {% if programs %}
            <div class="card-container">
                {% for program in programs %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ program.name }}</b></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><b>부스 운영자:</b> {{ program.company_name }}</h6>
                        <p class="card-text">{{ program.description }}</p><br>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><b>오픈 시간:</b> {{ program.selected_times|default_if_none:"없음" }}</h6>
                        <div class="card-links">
                            <form method="post" action="{% url 'booth_program:program_manage' %}">
                                {% csrf_token %}
                                <input type="hidden" name="program_id" value="{{ program.id }}">
                                <button type="submit" name="edit" class="submit-button">수정</button>
                                <button type="submit" name="delete" class="delete-button">삭제</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="program-item">
                    
                    <h2>{{ program.name }}</h2>
                    <div class="program-description">
                        <p>{{ program.description }}</p>
                    </div>
                    <div class="program-footer">
                        <p><b>오픈 시간:</b> {{ program.selected_times|default_if_none:"없음" }}</p>
                        <p><b>부스 운영자:</b> {{ program.company_name }}</p>
                    </div>
                    <div class="button-container">
                        <form method="post" action="{% url 'booth_program:program_manage' %}">
                            {% csrf_token %}
                            <input type="hidden" name="program_id" value="{{ program.id }}">
                            <button type="submit" name="edit" class="manage-button submit-button">수정하기</button>
                            <button type="submit" name="delete" class="manage-button delete-button">삭제하기</button>
                        </form>
                    </div>
                </div> {% endcomment %}
                {% endfor %}
            </div>
            {% else %}
                <p class="no-programs">생성한 프로그램이 없습니다.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 삭제 버튼에 alert 메시지 추가함
        const deleteButtons = document.querySelectorAll('button.delete-button');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                const confirmDelete = confirm('정말로 삭제하시겠습니까?');
                if (!confirmDelete) {
                    event.preventDefault();
                }
            });
        });
    });
</script>
{% endblock %}
