<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로그램 관리</title>
    <link rel="stylesheet" href="{% static 'css/bass.css' %}">
    <link rel="stylesheet" href="{% static 'css/program_manage.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="app__size">
        <div class="header--fixed">
            <button class="header__button--menu icon" id="menu-btn" style="cursor:pointer; opacity:1;"></button>
            <div class="header__title--wrap">
                <a href="{% url 'index' %}"><button class="header__title icon" style="cursor:pointer;"></button></a>
            </div>
            <button class="for_loc_center icon"></button>
        </div>
        <div class="body--wrap">
            <div class="content-wrap">
                <h1 class="title">프로그램 관리</h1>
                <div class="program-list">
                    {% if programs %}
                        {% for program in programs %}
                        <div class="program-item">
                            <h2>{{ program.name }}</h2>
                            <div class="program-description">
                                <p>{{ program.description }}</p>
                            </div>
                            <div class="program-footer">
                                <p><b>오픈 시간:</b> {{ program.selected_times|default_if_none:"없음" }}</p>
                                <p><b>부스 운영자:</b> {{ program.company_name }}</p>
                            </div>
                            <div class="button-container">
                                <form method="post" action="{% url 'booth_program:program_manage' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="program_id" value="{{ program.id }}">
                                    <button type="submit" name="edit" class="manage-button submit-button">수정하기</button>
                                    <button type="submit" name="delete" class="manage-button delete-button">삭제하기</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-programs">생성한 프로그램이 없습니다.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="sidebar" data-role="side-bar">
            <div class="sidebar__backdrop"></div>
            <div class="sidebar--wrap">
                <div class="sidebar__header">
                    <div class="sidebar__header__menu--wrap">
                        <button class="sidebar__menu--home icon"></button>
                    </div>
                    <div class="sidebar__header__login--wrap">
                        <div class="sidebar__login__profile"></div>
                        <div class="sidebar__login__info">
                            {% if not user.is_authenticated %}
                                <a href="{% url 'accounts:login' %}" class="sidebar__login__user--wrap">
                                    <p class="sidebar__login--btn"> 로그인을 해주세요. </p>
                                </a>
                            {% else %}
                                <div class="sidebar__login__user--wrap">
                                    <p class="user-type">{{ user.profile.user_type }}</p>
                                    <p class="user-name"><span>{{ user }}님!</span></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="sidebar__menu--wrap">
                    <ul class="sidebar__menu--list--wrap">
                        {% if user.is_authenticated %}
                            {% if user.profile.user_type == '기업회원' %}
                            <li class="sidebar__menu--list"><a href="{% url 'accounts:update' %}" class="sidebar__menu--item"> 회원 정보 수정 </a></li>
                            <li class="sidebar__menu--list"><a href="{% url 'exhibition:update' %}" class="sidebar__menu--item"> 부스 정보 수정 </a></li>
                            <li class="sidebar__menu--list"><a class="sidebar__menu--item"> 부스 예약 현황 </a></li>
                            {% else %}
                            <li class="sidebar__menu--list"><a href="{% url 'accounts:update' %}" class="sidebar__menu--item"> 회원 정보 수정 </a></li>
                            <li class="sidebar__menu--list"><a href="{% url 'reveal_QR' %}" class="sidebar__menu--item"> 내 티켓 확인 </a></li>
                            <li class="sidebar__menu--list"><a class="sidebar__menu--item"> 내 예약 확인 </a></li>
                            <li class="sidebar__menu--list"><a class="sidebar__menu--item"> 북마크 </a></li>
                            {% endif %}
                        {% else %}
                        <span> 로그인 후 서비스 이용 가능 </span>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <form class="logout-form" method="post" action="{% url 'accounts:logout' %}?next={{ request.path }}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">로그아웃</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/uiSidebar.js' %}"></script>
</body>
</html>
