{% extends "base_layout.html" %}
{% load static %}


{% block title %} 프로그램 오픈 {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/pc_mob_lay.css' %}" />
{% endblock %}


{% block main_content %}
<div class = "background-pc pc"></div>

<div class="content--container">
    <h2 class='content--title'> 프로그램 오픈 </h2>
     
    <div class = "content--wrap">
        <div class="content--content">

            <form method="post" class = "content-form--wrap" action="{% url 'booth_program:program_open' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="form-group-open">
                    <label for="id_name">프로그램 명</label>
                    {{ form.name }}
                </div>
                <div class="form-group-open">
                    <label for="id_description">프로그램 설명</label>
                    {{ form.description }}
                </div>
                <div class="form-group-open open-time--wrap">
                    <label id ="open-time">오픈 할 시간대</label>
                    <div class="time-slots">
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="10:00"> 10:00
                        </label>
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="11:00"> 11:00
                        </label>
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="12:00"> 12:00
                        </label>
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="13:00"> 13:00
                        </label>
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="14:00"> 14:00
                        </label>
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="15:00"> 15:00
                        </label>
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="16:00"> 16:00
                        </label>
                        <label class="time-slot-label">
                            <input type="checkbox" class="time-slot" value="17:00"> 17:00
                        </label>
                    </div>
                    <input type="hidden" id="id_selected_times" name="selected_times">
                </div>

                <div class="button-container">
                    <button type="submit" class="submit-button">프로그램 오픈하기</button>
                </div>

            </form>
        </div>
    </div>
</div>

    <script>
        function validateForm() {
            const name = document.getElementById('id_name').value;
            const description = document.getElementById('id_description').value;
            const checkboxes = document.querySelectorAll('input.time-slot:checked');
            if (!name) {
                alert("프로그램 명을 입력해주세요.");
                return false;
            }
            if (!description) {
                alert("프로그램 설명을 입력해주세요.");
                return false;
            }
            if (checkboxes.length === 0) {
                alert("오픈할 시간대를 선택해주세요.");
                return false;
            }

            const selectedTimes = Array.from(checkboxes).map(checkbox => checkbox.value);
            const selectedTimesInput = document.getElementById('id_selected_times');
            selectedTimesInput.value = selectedTimes.join(',');

            console.log("Selected Times:", selectedTimes);
            console.log("Hidden Input Value:", selectedTimesInput.value);

            return true;
        }
    </script>
{% endblock %}
