{% extends "base_layout.html" %}
{% load static %}


{% block title %} 프로그램 생성/관리 {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/reserve.css' %}" />
{% endblock %}

{% block main_content %}
<div class = "background-pc pc"></div>

<div class="content--container">
    <h2 class='content--title'> 프로그램 생성/관리 </h2>
    
    <div class = "content--wrap">

        <div class="content--content">

            <div class="program-button--container">
                <a href="{% url 'booth_program:program_open' %}" class="manage-button">
                    <img src = "{% static 'icons/plus_icon.png' %}">
                    <span>프로그램 생성</span>
                </a>
                
                <a href="{% url 'booth_program:program_manage' %}" class="manage-button">
                    <img src = "{% static 'icons/setting_icon.png' %}">
                    <span>프로그램 관리</span>
                </a>
            </div>
        </div>     

    </div>

</div>

    <script src="{% static 'js/uiSidebar.js' %}"></script>
{% endblock %}
