{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/layout1.css' %}" />
    
    <style>
        #booth_list {
            padding-top:80px;
            margin-left:10%;
            margin-right:10%;
            font-size:13px;
        }
        
        .booth-item {
            margin-bottom:20px;
            border-bottom:1px solid #ccc;
            padding-bottom:10px;
        }
        .booth-name {
            cursor: pointer;
            font-weight: bold;
            color: #333;
        }
    </style>
   
{% endblock %}

    {% block title %}
        부스 목록
    {% endblock %}
        
    {% block main_content %}     
        <!--부스 목록-->
        <div id='booth_list'>
            <h3>부스 목록</h3>
            <div>
                {% comment %} <input type="text" id="searchInput" onkeyup="searchFAQs()" placeholder="Search for booth.">
                <button onclick="searchFAQs()">Search</button> {% endcomment %}
            </div>
            {% block content %}
                <ul id='boothList'>
                    {% for booth in booths %}
                        <li class="booth-item">
                            <div class="booth" onclick="toggleDetail(this)">
                                <div class='booth-name'>{{booth.booth_name}} | {{booth.company_name}} | {{booth.booth_category}}</div>
                                <div class='booth-detail' style="display: none;"><br>{{booth.background}}<br><br>기능 : {{booth.service}}</div>
                                <div class='booth-edit' style="display:none;"><a href="{% url 'exhibition:detail' booth.booth_id %}" style="text-decoration:none;color:black;">[MORE]</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
            </div>
        </div>
    {% endblock %}


    {% block script %}
        <script src="{% static 'js/boothlist.js' %}"></script> <!-- boothlist js -->
    {% endblock %}