{% block content %}
    <h1>DETAIL</h1>
    <p>부스명 : {{booths.booth_name}}</p>
    <p>회사명 : {{booths.company_name}}</p>
    <p>부스 카테고리 : {{booths.booth_category}}</p>
    <p>배경 : {{booths.background}}</p>
    <p>기능 : {{booths.service}}</p>

    <a href="{% url 'booth_list' %}">목록보기</a>
    <a href="{% url 'edit' booths.pk %}">수정하기</a>
    <form action="{% url 'delete' booths.pk %}" method="POST">
        {% csrf_token%}
        <input type="submit" value="삭제하기">
    </form>
    <a href="{% url 'booth_list' %}">[back]</a>

{% endblock content %}