{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/notice_list.css' %}" />
{% endblock %}

{% block title %}  
    공지사항
{% endblock %}

{% block main_content %}
<div class="body--wrap">
  <div class="content-wrap">
          <h1 class="title">Notices</h1>
          <ul class="notice-list">
            {% for notice in notice_list %}
            <li class="notice-item">
              <a href="{% url 'notice:notice_detail' notice.pk %}">
                <div class="notice-card2">
                  <h2>{{ notice.title }}</h2>
                  <p>
                    작성자: {{ notice.author }} | 작성일: {{ notice.update_time|date:"Y-m-d" }}
                  </p>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% if user.is_staff %}
          <a href="{% url 'notice:notice_new' %}" class="write-btn">글쓰기</a>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}