{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/notice_list.css' %}" />
{% endblock %}

{% block title %} Notice Detail
{% endblock %}

{% block main_content %}
<div class="body--wrap">
  <div class="content-wrap">
          <div class="notice-card">
            <div class="notice-header">
              <h1>{{ notice.title }}</h1>
              <div class="notice-meta">
                <p>작성자: {{ notice.author }}</p>
                <p>작성일: {{ notice.update_time }}</p>
              </div>
            </div>
            <div class="notice-content">
              <p>{{ notice.content }}</p>
            </div>
            <div class="notice-actions">
              {% if request.user == notice.author %}
              <a class="btn" href="{% url 'notice:notice_edit' notice.pk %}"
                >Edit</a
              >
              <a class="btn" href="{% url 'notice:notice_delete' notice.pk %}"
                >Delete</a
              >
              {% endif %}
              <a class="btn" href="{% url 'notice:notice_list' %}"
                >Back to list</a
              >
            </div>
          </div>
        </div>
      </div>
{% endblock %}
