{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/notice_list.css' %}" />
{% endblock %}

{% block title %}  
    공지사항
{% endblock %}

{% block main_content %}
<div class = "background-pc pc"></div>


<div class="notice--wrap">
    <h2 class ="notice_title">공지사항</h2>
    {% if user.is_staff %}
        <a href="{% url 'notice:notice_new' %}" class="write-btn">글쓰기</a>
    {% endif %}

    <div class="content-wrap">
        <div class = "content-content">
            <ul class="notice-list">
                {% for notice in notice_list %}
                <li class="notice-item {% if forloop.first %}first-item{% endif %}">
                    <a href="{% url 'notice:notice_detail' notice.pk %}">
                    <div class="notice-card">
                        <div class="notice-card-text">
                            <h2 class="notice-list-title">
                                {{ notice.title }}
                                {% comment %} {% if notice.update_time >= now|add_days:-2 %}
                                <i class="fa-solid fa-n" style="color: #2dd4d7;"></i>
                                {% endif %} {% endcomment %}
                            </h2>
                            <p class = "notice-list-date">
                                {{ notice.update_time|date:"Y-m-d" }}
                            </p>
                        </div>

                        <i class="fa-solid fa-chevron-right icon-right"></i>
                    </div>
                    </a>
                </li>
                {% endfor %}
            </ul>    
        </div>
    </div>
</div>
{% endblock %}
