<!-- 헤더 부분 -->
<div class="header-sub mob">
    <button class= "header__button--menu header__button--menu-black icon" style="cursor:pointer; opacity:1;"></button>
    <div class="header__title--wrap">
        <a href="/" ><button class ="header__title-black icon" style="cursor:pointer;"></button></a>
    </div>
    <button class= "for_loc_center icon"></button>
</div>

<div class="header-pc">
    <div class="header__title--wrap">
        <a href="/" ><button class ="header__title-black icon" style="cursor:pointer;"></button></a>
    </div>

    <div>
        {% comment %} 부트스트랩 드롭다운 사용해서 메뉴바 만들기 {% endcomment %}
    </div>
</div>