/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height:100vh;
} */

.container-update {
    text-align: center;
    padding:20px;
 }

.message-list {
    padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
}

.message-list li {
    color: #c00;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-info {
    margin-bottom: 20px;
}

form.info {
    max-width: 600px; 
    margin: auto; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
form.info h2 {
    font-size: 20px; 
    margin-bottom: 10px; 
}

form.info button {
    padding: 10px 20px; 
    background-color: #007bff;
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
}

form.info button:hover {
    background-color: #0056b3; 
}

textarea {
    width: 70%; 
    max-height: 70px;
    padding: 10px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
}