/* confirmation_busi.css */

.confirmation-container {
    text-align: center;
    padding: 100px 20px;
    position:absolute;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.reservation-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.detail-content {
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.edit-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #66cc66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #57a957;
}