.container-update {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

form {
    margin-top: 20px;
}

form button.save {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button.save:hover {
    background-color: #0056b3;
}

.container-update form p {
    margin-bottom: 10px;
}

.container-update form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    
}

.container-update form input[type="text"],
.container-update form input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container-update form textarea {
    width: 100%;
    height: 120px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical; 
}