.container-update {
    width: 93%;
    padding: 0;
    margin-top: 90px;
}

.form-update {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-update  div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
}

.form-update label {
    font-weight: bold;
    font-size: 15px;
}

.save {
    margin-top: 40px;
    display: block;
    padding: 10px;
    background-color: #38B8B2;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease;
    
}

form button.save:hover {
    background-color:#33999bcd;
    transform: scale(0.95);
}

.form-update input[type="text"],
.form-update select {
    box-sizing: border-box;
    padding: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    transition: border-color 0.3s ease;
    height: 35px; 
}

.form-update input[type="text"]:focus {
    border-bottom: 1px solid #38B8B2;
}

.container-update form textarea {
    width: 100%;
    height: 120px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical; 
}

@media (min-width: 992px) {
    .container-update {
        width: 70%;
    }

    .profile_update_title {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #333;
    }
}