.reservation-container {
    text-align: center;
    padding: 20px;
}

.people-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.people-counter div {
    padding: 10px;
    font-size: 20px;
}

.people-counter button {
    font-size: 20px;
    padding: 10px 20px;
}

.time-slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time-slot {
    border: 1px solid #3b5998;
    padding: 15px;
    margin: 5px;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.time-slot.selected {
    background-color: #0099ff;
}

#reserve-button {
    font-size: 24px;
    padding: 15px 30px;
    margin-top: 30px;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    /* border-color: #3b5998; */
}
