{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/reveal_QR.css' %}" /> 
    <link rel="stylesheet" href="{% static 'css/layout2.css' %}" />
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
{% endblock %}

{% block title %}
AIVEX Ticket
{% endblock %}
    
{% block main_content %}
<div class = "background-pc pc"></div>

<div class="container-create">
    <h2 class = "layout_create_title">티켓 구매</h2>

    <div class="form-create--wrap">
        <form method="post" class="form-create" id="ticket_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.exhibition_name.id_for_label }}">{{ form.exhibition_name.label }}</label>
                {{ form.exhibition_name }}
            </div>
           
            <div class="form-group">
                <label for="{{ form.reservationDate.id_for_label }}">{{ form.reservationDate.label }}</label>
                {{ form.reservationDate }}
            </div>

            <div class="form-group">
                <label for="{{ form.adult.id_for_label }}">{{ form.adult.label }}</label>
                {{ form.adult }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.child.id_for_label }}">{{ form.child.label }}</label>
                {{ form.child }}
            </div>
            
            <small style="color:red;">* 10인 이상 단체 예매는 주최측으로 연락 주시기 바랍니다.</small>
            <button id="btn-purchase" class="btn-create" type="button" data-toggle="modal" data-target="#confirmModal">예약</button>
        </form>
        
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">예약 확인</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    예약을 확정하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="submitForm()">확인</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function submitForm() {
            document.getElementById('ticket_form').submit();
        };

        document.getElementById('id_exhibition_name').addEventListener('change', function() {
            const exhibitionId = Number(this.value);
            const dateField = document.getElementById('id_reservationDate');

            if (exhibitionId) {
                fetch(`{% url 'ticket:check_availableDate' 0 %}`.replace(0, exhibitionId))
                    .then(response => response.json())
                    .then(data => {
                        dateField.innerHTML = '<option value="" selected>예약일을 선택하세요.</option>';
                        data.dates.forEach(date => {
                            const option = document.createElement('option');
                            option.value = date;
                            option.text = date;
                            option.selected = false;
                            dateField.appendChild(option);
                        });
                    });
            } 
            else {
                dateField.innerHTML = '<option value="" selected>전시회를 먼저 선택하세요.</option>';
            }
        });
    </script>
{% endblock %}


