{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/reveal_QR.css' %}" /> 
{% endblock %}

{% block title %}
AIVEX Ticket
{% endblock %}
    
{% block main_content %}

    <!-- <div class="container">
        {% for exhibition in exhibition_list %}
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <button type="submit">{{ exhibition.exhibition_name }}</button>
            </form>
            <br>
        {% endfor %}
        <a href="{% url 'ticket:ticket_list' %}" ><button class ="header__title icon" style="cursor:pointer;">돌아가기</button></a>
    </div> -->
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">예약</button>
            <br>
        </form>
        <a href="{% url 'ticket:ticket_list' %}" ><button class ="header__title icon" style="cursor:pointer;">돌아가기</button></a>
    </div>
{% endblock %}