{% extends "base_layout.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/ticket.css' %}" />
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css" />
{% endblock %}

{% block title %}
AIVEX Ticket
{% endblock %}
    
{% block main_content %}
<div class = "background-pc pc"></div>
    <div class="container">
        <h2 class = "ticket_check_title">Ticket</h2>
        <div class = "ticket-container--content">
        {% if image %}
            <div class="card">
                <img src="data:image/png;base64,{{ image }}" class="card-img-bottom" alt="Error!!!">
                <div class="card-body">
                  <h5 class="card-title">{{ exhibition_name }}</h5>
                  <p class="card-text">{{ hall }}</p>
                </div>
                <div class="list-group list-group=flush">
                    <li class="list-group-item">예약자 : {{ username }}</li>
                    <li class="list-group-item">성인 : {{ adult }} 인</li>
                    <li class="list-group-item">청소년 : {{ child }} 인</li>
                </div>
              </div>
        {% endif %}
        
        <div id="bottom-btn--container">
            <a href="{% url 'ticket:ticket_list' %}">
                <button class="back--btn" style="cursor: pointer"> < 뒤로 </button>
            </a>

            <form action="{% url 'ticket:cancel_ticket' ticket_id %}" method="post" id="ticket_cancel_form" class="form-create">
                {% csrf_token %}
                <button class="cancel--btn" type="button" data-toggle="modal" data-target="#confirmModal">예매 취소</button>
            </form>
        </div>
       </div>
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">예매 취소</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    예매를 취소하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="submitForm()">예</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function submitForm() {
            document.getElementById('ticket_cancel_form').submit();
        }
    </script>
{% endblock %}
