<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1." />    
    <link rel="stylesheet" href="{% static 'css/bass.css' %}" />      
    <link rel="stylesheet" href="{% static 'css/reveal_QR.css' %}" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>AIVEX Ticket</title>
</head>
<body>
    <!-- 헤더 부분 -->
    <div class="header-sub">      
        <a class="back-button" href="{% url 'index' %}" ><i class="fa-solid fa-arrow-left fa-xl" style="color: #ffffff;"> </i></a>
        <div class="header__title--wrap">
            <a href="{% url 'index' %}" ><button class ="header__title icon" style="cursor:pointer;"></button></a>
        </div>
    </div>
    <!-- end 헤더 부분 -->

    <div class="container">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <p>전시장 1</p>
        <p>표 확인</p>
        {% if image %}
            <img src="data:image/png;base64,{{ image }}" alt="Error!!">
        {% endif %}
        <br>
        <a href="{% url 'ticket:ticket_list' %}" ><button class ="header__title icon" style="cursor:pointer;">예매 내역</button></a>
    </div>
</body>
</html>